<div class="category-navbar">
 <%= link_to categories_path do %>
         <i class="fas fa-sharp fa-light fa-arrow-left"></i> 
      <% end %> 
<h1>Transaction</h1>

<p>Total Amount($<%= @total_amount %>)</p>
</div>
<div id="entities">
  <% @entities.each do |entity| %>
    <%= render entity %>
 
  <% end %>
</div>
<div class="entity-submit">
<%= link_to "New entity", new_category_entity_path , class:"entity-submit-icon"%>
</div>