body {
  margin: 0;
  background-color: rgba(247, 244, 244, 0.952);
  font-family: 'Inter', sans-serif;
}

.notification,
.splash {
  text-align: center;
}

.expense-tracker {
  font-size: 2rem;
  margin-top: 45%;
  margin-bottom: 15rem;
}

.sign-buttons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}

.sign-in-button {
  background-color: #3778c2;
  border: none;
  color: white;
}

.sign-up-button {
  color: rgba(49, 39, 39, 0.678);
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.splash h1 {
  animation: fadeIn 3.5s ease-in-out;
}

.new-category-form,
.sign-container {
  margin-top: 20px;
  background-color: white;
}

.entity-item,
.category-item,
.category-submit,
.entity-submit,
.forgot-to-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-decoration: none;
  color: #434654;
  background-color: rgba(247, 244, 244, 0.952);
}

.entity-item,
.category-item {
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
}

.entity-submit-icon,
.category-submit-icon {
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}

.new-entity,
.new-category,
.category-navbar,
.sign-up-navbar,
.login-navbar {
  background-color: #3778c2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

input[type="submit"],
.entity-submit-icon,
.category-submit-icon {
  background: #3778c2;
  color: white;
  border: none;
  text-decoration: none;
}

.fa-arrow-left {
  color: white;
}

.sign-up-input {
  padding-top: 20px;
}

.field {
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid #434654;
}

.field input {
  border: none;
}

.field input:focus {
  outline: none;
}

.upload-picture {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  color: #a3a6b1d3;
}

.fa-circle-user {
  margin-right: 20px;
  color: #a3a6b1d3;
}

.entities-list {
  text-decoration: none;
  color: #434654;
  font-size: 25px;
}
