<p style="color: green"><%= notice %></p>
<div class="category-navbar">
<svg viewBox="0 0 100 80" width="40" height="40" fill="white">
              <rect width="100" height="10"></rect>
              <rect y="30" width="100" height="10"></rect>
              <rect y="60" width="100" height="10"></rect>
            </svg>
<h1>Categories</h1>

<i class="fas fa-search fa-lg"></i>
</div>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>
<div> <i class="fa-solid fa-plus"></i> <%= link_to "Add Category", new_category_path %> </div>
